<h3 style="margin-top: 10px;margin-left: 10px;" 
class="d-flex align-items-center justify-content-center">Debounce Time And Distinct Until Changed</h3>
<br>
<div class="d-flex align-items-center justify-content-center flex-column">
    <h4>Debounce Time -- delays api call</h4>
    <h4>DistinctUntilChanges -- prevents from duplicate req</h4>
    <h4>compares present and past only (1 last state ) from duplicate req ***</h4>
    <br>
    <h4>Check console log</h4>
    <br>
</div>
<div class="row d-flex align-items-center justify-content-center" style="margin-top: 10px;margin-left: 10px;">
    <div class="col-md-6">
        <label for="inputPassword5" class="form-label">Search with Debounce Time</label>
<input type="text" id="inputSearch" 
    class="form-control" aria-describedby="search"
    placeholder="Search..." #mySearch>
    </div>
</div>
<br>
<div class="row d-flex align-items-center justify-content-center" style="margin-top: 10px;margin-left: 10px;">
    <div class="col-md-6">
        <label for="inputPassword5" class="form-label">Search with DistinctUntilChanged</label>
<input type="text" id="inputDistinctSearch" 
    class="form-control" aria-describedby="search"
    placeholder="Search..." #myDistinctSearch>
    </div>
</div>
