<h3 style="margin-top: 10px;margin-left: 10px;" 
class="d-flex align-items-center justify-content-center">TAKE -- take() / TAKE-LAST -- takeLast() / TAKE-UNTIL -- takeUntil()</h3>
<br>
<div class="d-flex align-items-center justify-content-center flex-column">
    <h4>take a number & converts the same number of observables into a stream of observable</h4>
    <h4>take automatically unsubscribes the observable once count is reached</h4>
    <h4>take starts from first and takeLast starts from Last</h4>
    <h4>takeUntil -- takes an condition that defines until which we need to take the observable</h4>
    <h4>takeUntil -- this condition must be an observable</h4>
    <br>
    <h4>Check console log</h4>
</div>

`