<div class="row mt-3">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="of-from">OF-FROM</a> 
            </li>
            <li>
                <a routerLink="from-event">FROM EVENT</a>
            </li>
            <li>
                <a routerLink="interval-timer">Interval & Timer</a>
            </li>
            <li>
                <a routerLink="to-array">toArray()</a>
            </li>
            <li>
                <a routerLink="custom-observables">Custom Observables</a>
            </li>
            <li>
                <a routerLink="map">map()</a>
            </li>
            <li>
                <a routerLink="pluck">pluck()</a>
            </li>
            <li>
                <a routerLink="filter">filter()</a>
            </li>
            <li>
                <a routerLink="tap">tap()</a>
            </li>
            <li>
                <a routerLink="take">take()</a>
            </li>
            <li>
                <a routerLink="retry">retry()</a>
            </li>
            <li>
                <a routerLink="debounce-time-distinct-until-change">Debounce Time & Distinct Until Change()</a>
            </li>
          </ul>  
    </div>
</div>