<div class="row mt-3">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="of-from">OF-FROM</a> 
            </li>
            <li>
                <a routerLink="from-event">FROM EVENT</a>
            </li>
            <li>
                <a routerLink="interval-timer">Interval & Timer</a>
            </li>
            <li>
                <a routerLink="to-array">toArray()</a>
            </li>
            <li>
                <a routerLink="custom-observables">Custom Observables</a>
            </li>
            <li>
                <a routerLink="map">map()</a>
            </li>
            <li>
                <a routerLink="pluck">pluck()</a>
            </li>
            <li>
                <a routerLink="filter">filter()</a>
            </li>
            <li>
                <a routerLink="tap">tap()</a>
            </li>
            <li>
                <a routerLink="take">take()</a>
            </li>
            <li>
                <a routerLink="retry">retry()</a>
            </li>
            <li>
                <a routerLink="debounce-time-distinct-until-change">Debounce Time & Distinct Until Change()</a>
            </li>
            <li>
                <a routerLink="subject">subject()</a>
            </li>
            <li>
                <a routerLink="replay-subject">replaySubject()</a>
            </li>
            <li>
                <a routerLink="async">asyncSubject()</a>
            </li>
            <li>
                <a routerLink="concat-merge">concat()/merge()</a>
            </li>
            <li>
                <a routerLink="merge-map">mergeMap()</a>
            </li>
            <li>
                <a routerLink="concat-map">concatMap()</a>
            </li>
            <li>
                <a routerLink="switch-map">switchMap()</a>
            </li>
            <li>
                <a routerLink="exhaust-map">exhaustMap()</a>
            </li>
            <li>
                <a routerLink="share-replay">shareReplay()</a>
            </li>
          </ul>  
    </div>
</div>