<div class="mt-3">
    <h4>Promise -- async fn returns only 1 value yes/no  </h4>
    <h4>Observables -async /sync and returns stream of values 1-2-3-3-4</h4>
</div>
<br>
<div class="mt-3">
    <h4>In Promise we can avoid async /await by using then catch *** </h4>
    <h4>Async and fn will always return a promise</h4>
    <h4>We need to use await keyword before a promise function in async block</h4>
</div>
<br>
<div class="mt-3">
    <h4>check ts file </h4>
</div>
<br>
<div class="mt-3">
    <h4>Observables can be created by</h4>
    <h4>Observable Stream 
        User Input event eg, button click , Http req ,Array , Object
    </h4>
</div>
<br>
<div class="mt-3">
    <h4>Observables can handle</h4>
    <h4>Data , Error , Completion , .subscribe()
    </h4>
</div>